In [3]:
import pandas as pd
import os

In [2]:
# 使用相对路径直接读取文件
df = pd.read_csv('五粮液股票数据.csv', encoding='gbk')

# 显示前5行数据
print(df.head())

        股票代码      交易日期    开盘价    最高价    最低价    收盘价    昨收价   涨跌额     涨跌幅  \
0  000858.SZ  20180920  64.40  64.85  64.03  64.39  64.44 -0.05 -0.0776
1  000858.SZ  20180919  62.99  65.53  62.90  64.44  63.21  1.23  1.9459
2  000858.SZ  20180918  61.62  63.60  61.01  63.21  61.86  1.35  2.1823
3  000858.SZ  20180917  61.40  62.56  61.03  61.86  61.53  0.33  0.5363
4  000858.SZ  20180914  60.45  62.16  59.70  61.53  59.98  1.55  2.5842

      成交量（手）      成交额（千元）
0  164165.71  1056728.297
1  411364.31  2653606.009
2  263861.24  1647393.657
3  235508.59  1458775.764
4  294960.29  1800648.312

In [4]:
print(os.getcwd)

<built-in function getcwd>

In [5]:
current_directory = os.getcwd()

In [6]:
print(current_directory)

C:\Users\Administrator\Desktop\sjfxlx

In [9]:
average_close_price = df["收盘价"].mean()
print(f"收盘价的平均值:{average_close_price}")

收盘价的平均值:26.44052080607171

In [20]:
filtered_date = df[df["开盘价"] >60]
filtered_date

,股票代码,交易日期,开盘价,最高价,最低价,收盘价,昨收价,涨跌额,涨跌幅,成交量（手）,成交额（千元）,价格差
0,000858.SZ,20180920,64.40,64.85,64.03,64.39,64.44,-0.05,-0.0776,164165.71,1056728.297,0.82
1,000858.SZ,20180919,62.99,65.53,62.90,64.44,63.21,1.23,1.9459,411364.31,2653606.009,2.63
2,000858.SZ,20180918,61.62,63.60,61.01,63.21,61.86,1.35,2.1823,263861.24,1647393.657,2.59
3,000858.SZ,20180917,61.40,62.56,61.03,61.86,61.53,0.33,0.5363,235508.59,1458775.764,1.53
4,000858.SZ,20180914,60.45,62.16,59.70,61.53,59.98,1.55,2.5842,294960.29,1800648.312,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...
229,000858.SZ,20171019,61.01,63.80,60.81,63.00,61.35,1.65,2.6900,278718.61,1744925.529,2.99
230,000858.SZ,20171018,60.12,61.35,59.17,61.35,60.10,1.25,2.0800,176535.50,1062478.441,2.18
232,000858.SZ,20171016,61.14,62.15,59.60,59.65,61.62,-1.97,-3.2000,270032.78,1635212.067,2.55
233,000858.SZ,20171013,60.86,61.95,60.85,61.62,60.81,0.81,1.3300,162023.88,995669.000,1.10
234,000858.SZ,20171012,61.36,61.95,60.46,60.81,61.18,-0.37,-0.6000,176004.66,1073412.431,1.49

In [19]:
df["价格差"] = df["最高价"] - df["最低价"]
df[['交易日期', '最高价', '最低价', '价格差']].head()

       交易日期    最高价    最低价   价格差
0  20180920  64.85  64.03  0.82
1  20180919  65.53  62.90  2.63
2  20180918  63.60  61.01  2.59
3  20180917  62.56  61.03  1.53
4  20180914  62.16  59.70  2.46

In [21]:
filtered_date.to_csv("筛选后的五粮液股票数据.csv", index=False, encoding="gbk")

In [30]:
new_one = pd.read_csv("五粮液股票数据.csv",encoding="gbk")
new_one.head()

,股票代码,交易日期,开盘价,最高价,最低价,收盘价,昨收价,涨跌额,涨跌幅,成交量（手）,成交额（千元）
0,000858.SZ,20180920,64.40,64.85,64.03,64.39,64.44,-0.05,-0.0776,164165.71,1056728.297
1,000858.SZ,20180919,62.99,65.53,62.90,64.44,63.21,1.23,1.9459,411364.31,2653606.009
2,000858.SZ,20180918,61.62,63.60,61.01,63.21,61.86,1.35,2.1823,263861.24,1647393.657
3,000858.SZ,20180917,61.40,62.56,61.03,61.86,61.53,0.33,0.5363,235508.59,1458775.764
4,000858.SZ,20180914,60.45,62.16,59.70,61.53,59.98,1.55,2.5842,294960.29,1800648.312

In [31]:
average_close_price = df["收盘价"].mean

In [38]:
print(f"平均收盘价:{average_close_price}")

平均收盘价:<bound method Series.mean of 0       64.39
1       64.44
2       63.21
3       61.86
4       61.53
        ...
3816    11.35
3817    11.12
3818    11.23
3819    11.18
3820    11.15
Name: 收盘价, Length: 3821, dtype: float64>

In [46]:
filtered_date = df[df["开盘价"] > 85]
filtered_date

,股票代码,交易日期,开盘价,最高价,最低价,收盘价,昨收价,涨跌额,涨跌幅,成交量（手）,成交额（千元）,价格差
69,000858.SZ,20180614,85.38,86.11,82.65,84.41,85.47,-1.06,-1.24,265874.16,2237838.346,3.46
70,000858.SZ,20180613,85.79,86.66,85.03,85.47,86.00,-0.53,-0.62,286972.53,2460756.755,1.63
158,000858.SZ,20180129,86.60,86.60,81.70,82.08,86.84,-4.76,-5.48,591383.27,4943911.228,4.90
159,000858.SZ,20180126,85.50,87.77,85.12,86.84,86.00,0.84,0.98,312053.75,2700119.273,2.65
160,000858.SZ,20180125,86.60,87.09,84.18,86.00,87.35,-1.35,-1.55,421128.92,3604252.895,2.91
161,000858.SZ,20180124,89.58,89.58,86.66,87.35,89.71,-2.36,-2.63,349695.75,3063373.440,2.92
162,000858.SZ,20180123,90.42,90.80,88.41,89.71,90.42,-0.71,-0.79,384681.66,3439974.330,2.39
163,000858.SZ,20180122,85.67,90.50,85.67,90.42,85.17,5.25,6.16,445823.53,3918907.687,4.83
164,000858.SZ,20180119,86.40,86.88,84.31,85.17,86.40,-1.23,-1.42,382003.65,3259552.587,2.57
165,000858.SZ,20180118,86.31,88.35,84.30,86.40,86.01,0.39,0.45,429700.90,3712081.698,4.05
166,000858.SZ,20180117,90.30,91.12,85.65,86.01,90.82,-4.81,-5.30,496108.96,4346534.429,5.47
167,000858.SZ,20180116,90.61,92.50,89.87,90.82,91.75,-0.93,-1.01,366155.22,3335555.956,2.63
168,000858.SZ,20180115,91.20,93.18,90.68,91.75,91.37,0.38,0.42,379644.08,3482483.788,2.50
169,000858.SZ,20180112,87.96,91.75,87.62,91.37,87.96,3.41,3.88,320923.56,2870276.321,4.13
170,000858.SZ,20180111,88.74,89.78,87.33,87.96,88.90,-0.94,-1.06,254778.62,2249762.450,2.45
171,000858.SZ,20180110,86.49,89.16,85.01,88.90,86.10,2.80,3.25,342458.66,2978674.635,4.15